@use "variables" as v;
@use "mixins" as m;
@use "placeholders";

.footer-section {
    background-color: #f3f1f1;
}

.footer {
    padding: 180px 10px 100px 10px;
    width: 100%;
    @include m.d-flex(space-between, start, nowrap, row, 0, 0);
    &__contacts {
        max-width: 340px;
        @include m.d-flex(start, start, nowrap, column, 0, 20px);
        &-header {
            @include m.d-flex(start, center, nowrap, row, 10px, 0);
            &-icon {
                width: 35px;
                height: 37px;
                fill: v.$color_red;
            }

            &-title {
                @include m.font(20px, 500, v.$color_black);

                span {
                    @include m.font(20px, 700, v.$color_black);
                }
            }
        }

        &-desc {
            @include m.font(16px, 500, v.$color_dark_grey);
            line-height: 1.8;

            span {
                @include m.font(16px, 700, v.$color_dark_grey);
            }
        }

        &-icons {
            // max-width: 140px;
            padding: 10px 0 10px 0;
            @include m.d-flex(start, center, nowrap, row, 20px, 0);
            &-facebook {
                width: 31px;
                height: 31px;
                border-radius: 16px;
                background-color: v.$color_red;
                box-shadow: 0px 0px 21px -6px rgba(66, 68, 90, 1);
                position: relative;
                &-logo {
                    width: 34px;
                    height: 35px;
                    fill: #f3f1f1;
                    @include m.position(absolute, 1, -1, top, right, -2px, -2px);
                }

                &:hover {
                    background-color: v.$color_grey;
                }
            }

            &-twitter {
                width: 31px;
                height: 31px;
                border-radius: 16px;
                background-color: v.$color_red;
                box-shadow: 0px 0px 21px -6px rgba(66, 68, 90, 1);
                position: relative;
                &-logo {
                    width: 35px;
                    height: 35px;
                    fill: #f3f1f1;
                    @include m.position(absolute, 1, -1, top, right, -2px, -2px);
                }

                &:hover {
                    background-color: v.$color_grey;
                }
            }

            &-instagram {
                width: 31px;
                height: 31px;
                border-radius: 16px;
                background-color: v.$color_red;
                box-shadow: 0px 0px 21px -6px rgba(66, 68, 90, 1);
                position: relative;
                &-logo {
                    width: 34px;
                    height: 35px;
                    fill: #f3f1f1;
                    @include m.position(absolute, 1, -1, top, right, -2px, -2px);
                }

                &:hover {
                    background-color: v.$color_grey;
                }
            }
        }

        &-rights {
            @include m.font(16px, 400, #afb5c0);
            span {
                @include m.font(16px, 500, #afb5c0);
            }
        }


    }

    &__product {
        width: 135px;
        @include m.d-flex(start, start, nowrap, column, 0, 20px);

        &-title {
            @include m.font(18px, 500, v.$color_black);
        }

        &-list {
            @include m.d-flex(start, start, nowrap, column, 0, 10px);

            &-item {
                @include m.font(16px, 400, v.$color_dark_grey);
                line-height: 1.8;

                &:hover {
                    @include m.font(16px, 500, v.$color_grey);
                }
            }
        }
    }

    &__engage {
        width: 135px;
        @include m.d-flex(start, start, nowrap, column, 0, 20px);

        &-title {
            @include m.font(18px, 500, v.$color_black);
        }

        &-list {
            @include m.d-flex(start, start, nowrap, column, 0, 10px);

            &-item {
                @include m.font(16px, 400, v.$color_dark_grey);
                line-height: 1.8;

                &:hover {
                    @include m.font(16px, 500, v.$color_grey);
                }
            }
        }
    }

    &__others {
        width: 135px;
        @include m.d-flex(start, start, nowrap, column, 0, 20px);

        &-title {
            @include m.font(18px, 500, v.$color_black);
        }

        &-list {
            @include m.d-flex(start, start, nowrap, column, 0, 10px);
            
            &-item {
                @include m.font(16px, 400, v.$color_dark_grey);
                line-height: 1.8;

                &:hover {
                    @include m.font(16px, 500, v.$color_grey);
                }
            }
        }
    }
}